@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parisienne&display=swap');
@import 'tailwindcss';

*{
    font-family: 'Poppins',sans-serif;
}